* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    background-color: #D7BE82;
}

header {
    margin: 20px;
    padding: 10px;
    background-color: #7A4419;
    width: auto;
    border-radius: 20px;
    border: 3px solid #515A47;
    text-align: center;
}

footer {
    margin: 20px;
    padding: 10px;
    background-color: #7A4419;
    width: auto;
    border-radius: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 10px 0;
}

nav a:link,
nav a:visited {
    color: #D7BE82;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #D7BE82;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #515A47;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #7A4419;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #D7BE82;
    line-height: 1.3;
}

.pBody {
    color: #7A4419;
}

ul {
    list-style: none;
}

.imagen {
    height: 500px;
    width: auto;
    background-color: #515A47;
    padding: 10px;
    border: 3px solid #7A4419;
    border-radius: 5px;
}

#futbol {
    background-color: #7A4419;
    color: #D7BE82;
    padding: 5px 10px;
    border-radius: 5px;
}
